{% extends 'frontendbase.html' %}
{% load static %}
{% block title %}
<title>{{i.title}}</title>
{% endblock %}
{% block banner %}
{% endblock %}
{% block main %}
<main id="main">
    <section id="course-details" class="course-details">
        <div class="container-fluid mt-5">

            <div class="row">

                <!--Page Detail-->
                <div class="col-lg-8 col-md-12">
                    <article class="page single-page">

                        <br>

                        <h1 class="topic-title">
                            {{i.title}}
                        </h1>

                        <div class="topic-minidetail">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> {{i.author}}</li>
                                <li class="d-flex align-items-center"><time>posted on {{i.published_date}} |</time>
                                </li>
                                <li class="d-flex align-items-center"><time>updated on {{i.last_updated}} |</time></li>
                                <li class="d-flex align-items-center"><i class="bi bi-eye-fill"></i> {{i.totalviews}}
                                </li>
                            </ul>
                        </div>

                        <div class="page-description">
                            <p>{{i.description|safe}}</p>
                        </div>

                        <br>

                    </article>

                    <!--Pagination-->
                    <div class="blog-pagination">
                        {% if comments.has_other_pages %}
                        <!--check if there are multiple pages-->
                        <ul class="justify-content-center">
                            {% if comments.has_previous %}
                            <li class=""><a class="" href="?comments={{ comments.previous_page_number }}">Previous</a>
                            </li>
                            {% else %}
                            <li class=""><a class="d-none" href="#">Previous</a></li>
                            {% endif %}


                            {% for num in comments.paginator.page_range %}

                            {% if comments.number == l %}
                            <li class="active"><span class="">{{ num }} <span class="sr-only">(current)</span></span>
                            </li>
                            {% else %}
                            <li><a class="" href="?comments={{ num }}">{{ num }}</a></li>
                            {% endif %}

                            {% endfor %}


                            {% if comments.has_next %}
                            <li class=""><a class="" href="?comments={{ comments.next_page_number }}">Next</a></li>
                            {% else %}
                            <li class=""><a class="d-none" href="#">Next</a></li>
                            {% endif %}
                        </ul>
                        {% endif %}

                    </div>

                    <!--Comments-->
                    <div class="blog-comments">
                        <br>
                        {% with allcomments.count as total_comments %}
                        <h2>
                            {{ total_comments }} Comment{{ total_comments|pluralize }}
                        </h2>
                        {% endwith %}


                        {% load mptt_tags %}
                        {% recursetree comments %}

                        <div id="" class="comment">

                            <!--parent node-->
                            <div id="{{node.id}}" class="d-flex">
                                <div class="comment-img"><img class="rounded-circle"
                                        src="{% static 'assets/img/blog/comments-1.jpg' %}" alt="">
                                </div>

                                <div>
                                    <h5><a href="">By {{node.user}}</a>
                                    </h5>
                                    <time>{{node.commented_on}}</time>
                                    <p>{{ node.content }}</p>
                                    <div id="{{node.id}}" class="comment"></div>
                                    {% if node.level < 4 %} {% if request.user.username %} <button
                                        class="btn btn-primary" type="button" onclick="myFunction({{ node.id }})"
                                        class="btn btn-primary">
                                        Reply
                                        </button>

                                        {% else %}
                                        <button class="reply" type="button" class="btn btn-primary"
                                            data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom"
                                            data-bs-content="login to comment">
                                            <i class="bi bi-reply-fill"></i> Reply
                                        </button>
                                        {% endif %}

                                        {% endif %}
                                </div>
                            </div>

                            <!--child of parent node-->
                            {% if not node.is_leaf_node %}
                            <div id="comment-reply-1" class="comment comment-reply">
                                <div class="children">
                                    {{ children }}
                                </div>
                            </div>
                            {% endif %}

                        </div>

                        {% endrecursetree %}

                        <div class="reply-form">
                            <h4>Leave a Reply</h4>
                            <p>Your email address will not be published. Required fields are marked * </p>
                            <form action="" method="POST">
                                <div class="row">
                                    {% csrf_token %}
                                    {{comment_form.as_p}}
                                    <button type="submit" class="btn btn-primary">Post Comment</button>
                            </form>

                        </div>

                    </div>
                </div>

                <!--Contents-->
                <div class="col-lg-3 col-md-12 mt-md-5">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        {% for chapter in getchapters %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                    {{chapter.title}}
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <ul class="list-group list-group-flush">
                                        {% for i in chapter.topic_set.all %}
                                        <a class="list-item-topic" href="{{i.get_absolute_url}}">
                                            <li class="list-group-item">{{i.title}}</li>
                                        </a>
                                        <hr>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>

            </div>
    </section>
</main>
<script>
    function formExit() {
        document.getElementById("newForm").remove();
    }
    function myFunction(id) {

        if (document.contains(document.getElementById("newForm"))) {
            document.getElementById("newForm").remove();
        }


        var d1 = document.getElementById(id);

        d1.insertAdjacentHTML('afterend',
            '<form id="newForm" class="reply-form py-2" method="post"> \
                  <div class="d-flex justify-content-between"><h2>Reply:</h2><div><button type="button" class="btn btn-outline-secondary" onclick="formExit()"">Close</button></div></div> \
                  <select name="parent" class="d-none" id="id_parentt"> \
                  <option value="' + id + '" selected="' + id + '"></option> \
                  </select> \
                  <label for="id_content">Content:</label> \
                  <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
                  {% csrf_token %} \
                  <button type="submit" class="mt-3 btn btn-primary">Submit</button> \
                </form>');

    }

    $('#myForm').trigger("reset");
</script>

{% endblock %}