<div class="col-lg-4">
  <div class="sidebar">
    <!-- Search form-->
    <div class="search-container">
      <h3 class="sidebar-title">Search</h3>

      <div class="sidebar-item search-form">
        <form action="{% url 'MArticles:article_search' %}" method="GET">
          {{form}}
          <button type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div>
    </div>

    <!-- Popular posts-->
    <div class="recentpost-container">
      <h3 class="sidebar-title">Popular Posts</h3>
      <div class="sidebar-item recent-posts">
        {% for article in populararticles %}
        <div class="post-item clearfix">
          {% if article.thumbnail %}
          <img src="{{article.thumbnail}}" alt="article" class="img-fluid" />
          {% else %}
          <img
            src="https://res.cloudinary.com/dcgrv6shk/image/upload/v1635600338/mediafiles/profiles/placeholder_v7pmin.png"
            alt="article"
            class="img-fluid"
          />
          {% endif %}

          <h4 class="">
            <a href="{{article.get_absolute_url}}"> {{article.title}}</a>
          </h4>
          <time>about {{article.published_date|timesince}} ago</time>
        </div>
        <hr />
        {% endfor %}
      </div>
    </div>

    <!-- Recent posts-->
    <div class="recentpost-container">
      <h3 class="sidebar-title">Recent Posts</h3>
      <div class="sidebar-item recent-posts">
        {% for article in recentarticles %}
        <div class="post-item clearfix">
          {% if article.thumbnail %}
          <img src="{{article.thumbnail}}" alt="article" class="img-fluid" />
          {% else %}
          <img
            src="https://res.cloudinary.com/dcgrv6shk/image/upload/v1635600338/mediafiles/profiles/placeholder_v7pmin.png"
            alt="article"
            class="img-fluid"
          />
          {% endif %}

          <h4 class="">
            <a href="{{article.get_absolute_url}}"> {{article.title}}</a>
          </h4>
          <time>about {{article.published_date|timesince}} ago</time>
        </div>
        <hr />
        {% endfor %}
      </div>
    </div>

    <!-- Category-->
    <div class="category-container">
      <h3 class="sidebar-title">Category</h3>
      <div class="sidebar-item category">
        <ul>
          {% for i in categories %}
          <li>
            <a href="{% url 'MArticles:article-category' category=i.name %}"
              >{{i.name}}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
