.accordion-body{
    padding: 0rem!important;
    border: 1px solid rgb(103, 103, 103,.2);
}
.accordion-button{
    color: #ffffff!important;
    background-color: #ffb700!important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.list-group-item {
    padding: 0rem!important;
}
.list-group-item a{
    color: black;
    display: block;
    padding: .5rem 1rem;
}

.accordion-body ul > li :hover{
    color: #ffb700!important;
    background-color:rgba(240, 240, 240, 0.4)!important;
}

.list-group-button{
    border: none;
    color: #ffffff!important;
    background-color: #febe1d!important;
    padding: .5rem 1rem!important;
}

.text-container li{
    list-style: none!important;
    border: none;
    color: rgb(255, 255, 255);
}
.text-container li > a{
    list-style: none!important;
    border: none;
    font-size: .9rem;
    color:black;
}

.text-container button{
    margin-left: 3rem;
    font-size: .6rem!important;
       border: none;
      background-color: #febe1d;
      padding: .5rem 1rem!important;
      border-radius: 2rem!important ;
}
.text-container button> a{

    color:rgb(255, 255, 255);
}
.text-container button:hover{
     transition: .5 ease-in;
      background-color: #efb21a;
      color: white!important;
}
.img-container img{
    width: 5rem; 
    display: inline;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container{
    border-radius: 2rem;
   background-color: rgb(251, 255, 255);
    padding: 2rem;

}
.flex-container a{
color: black;
}

/*-----Profile------*/
.img-profile img{

    border-radius: 4rem;
    width: 3.5rem;
    object-fit: cover;

}
.profile-container{
    display: flex;
align-items: center;
    justify-content: flex-end;
}
.profile-info{
margin-top: .2rem;
margin-left: 1rem;
}
.profile-info p{
    font-size: .7rem;
    margin-bottom: 0rem;
    margin-left: 1rem;
}