{% extends 'frontendbase.html' %}
{% load static %}
{% block title %}
<title>AcadePra | CourseDetail</title>
{% endblock %}

{% block meta %}
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ request.META.HTTP_HOST }}">
<meta content="{{course.description}}" name="description">
<meta content="{% for tag in tags %}{{tag}},{% endfor %}" name="keywords">
<link rel="canonical" href="{{request.scheme}}://{{ request.META.HTTP_HOST }}{{course.get_absolute_url}}">
{% endblock %}

{% block banner %}
{% endblock %}

{% block main %}
  <main id="main">

    <section id="course-details" class="course-details">
      <div class="container-fluid mt-5">

        <div class="row">

              <!--PageDetail-->
                <div class="col-lg-8 col-md-12">
                  <h1 class="text-center">{{course.title}}</h1>
                  <p class="text-center">{{course.description|safe}}</p>
                </div>

              <!--Contents-->
                <div class="col-lg-3 col-md-12 mt-md-5">
                  <div class="accordion" id="accordionPanelsStayOpenExample">
                    {% for chapter in getchapters %}
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                          {{chapter.title}}
                          </button>
                        </h2>

                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                          aria-labelledby="panelsStayOpen-headingOne">
                          <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                              {% for i in chapter.topic_set.all %}
                              <a class="list-item-topic" href="{{i.get_absolute_url}}"><li class="list-group-item">{{i.title}}</li></a>
                              <hr>
                            {% endfor %}
                            </ul>
                          </div>
                        </div>

                      </div>
                    {% endfor %}
                  </div>
                </div>

                <!-- Sidebar -->
                <div class="col-3">

                    <div class="sidebar">
                    </div>

                </div>

        </div>

      </div>
    </section>
  </main>
  {% endblock %}