{% extends 'frontendbase.html' %}
{% load static %}
{% block title %}
<title>Dimensional illusions | About Us</title>
{% endblock %}

{% block banner %}
{% endblock %}

{% block extra %}
{% endblock %}

{% block active_aboutus %} active {% endblock %}

{% block main %}

<div class="main container p-4" data-aos="fade-up">

    <h1><strong>About Us</strong></h1>
    <p>Dimensional illusions is an online learning platform, study material and reference, especially for those who are
        in the field
        of Computer Science and Technology, Software /Computer Engineering and so on. It is set up for imparting
        articles and courses regarding Computer Science, technologies and Softwares in detail for its users.</p>
    <p>Founded in 2021,

        we hope you enjoy our content as much as we enjoy offering them to you. If you have any questions or comments,
        please don’t hesitate to contact us.
        <br>
        Sincerely,<br>

        Team Acadepra
    </p>
</div>

{% endblock %}

{% block footer_extra %}
{% endblock %}