{% extends 'frontendbase.html' %} {% block title %}
<title>Dimensional illusions | Contact Us</title>
{% endblock %} {% block banner %} {% endblock %} {% block active_contactus %}
active {% endblock %} {% block extra %} {% endblock %} {% block main %}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-6">
        <div class="info-box mb-4">
          <i class="bx bx-map"></i>
          <h3>Our Address</h3>
          <p>Machhapuchre Tole-3, Pokhara, NEPAL</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box mb-4">
          <i class="bx bx-envelope"></i>
          <h3>Email Us</h3>
          <p>dimensionalassistance37@gmail.com/p></p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box mb-4">
          <i class="bx bx-phone-call"></i>
          <h3>Call Us</h3>
          <p>+977 9867743856</p>
        </div>
      </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-6">
        <form
          action="{% url 'Ehub:contact-us' %}"
          method="post"
          class="php-email-form"
          role="form"
        >
          {% csrf_token %}
          <div class="row">
            <div class="col form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Your Name"
                required
              />
            </div>
            <div class="col form-group">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Your Email"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              placeholder="Subject"
              required
            />
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              name="message"
              rows="5"
              placeholder="Message"
              required
            ></textarea>
          </div>

          <div class="text-center">
            <button type="submit" class="primary-btn">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->

{% endblock %} {% block footer_extra %} {% endblock %}
