{% extends 'frontendbase.html' %}
{% load static %}
{% block title %}
<title>Dimensional illusions | Services</title>
{% endblock %}
{% block banner %}
{% endblock %}
{% block active_services %} active {% endblock %}
{% block extra %}
{% endblock %}
{% block main %}

<section class="container" id="services">
    <div class="section-title text-center">
        <h2>Our Services</h2>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="hover-animation">
                <div class="service-item">
                    <img class="img-back" src="{% static 'assets/img/web-designB.png' %}" alt="">
                    <img class="img-front" src="{% static 'assets/img/web-designW.png' %}" alt="">
                    <div class="description">
                        <span>Web Design</span>
                        <p>using React Js, Bootstrap and Wordpress.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="hover-animation">
                <div class="service-item">
                    <img class="img-back" src="{% static 'assets/img/webDevelopmentB.png' %}" alt="">
                    <img class="img-front" src="{% static 'assets/img/webDevelpmentW.png' %}" alt="">
                    <div class="description">
                        <span>Web Development</span>
                        <p>Portfolio, Online Delivery website, Ecommerce website and so on.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="hover-animation">
                <div class="service-item">
                    <img class="img-back" src="{% static 'assets/img/video-editingB.png' %}" alt="">
                    <img class="img-front" src="{% static 'assets/img/video-editingW.png' %}" alt="">
                    <div class="description">
                        <span>Video Editing</span>
                        <p>Weddings, Events, Vlogs and so on.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="hover-animation">
                <div class="service-item">
                    <img class="img-back" src="{% static 'assets/img/graphic-designB.png' %}" alt="">
                    <img class="img-front" src="{% static 'assets/img/graphic-designW.png' %}" alt="">
                    <div class="description">
                        <span>Graphics Design</span>
                        <p>Business Card, Event, Ceremony , flyer etc</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}
{% block footer_extra %}
{% endblock %}