{% extends 'frontendbase.html' %}
{% load static %}
{% block title %}
<title>Dimensional illusions | Search Articles </title>
{% endblock %}
{% block banner %}
{% endblock %}

{% block extra %}
{% endblock %}

{% block main %}

<main id="main">
  <section id="blog" class="blog">

    <div class="container-fluid" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-8 entries">

          {% if results %}
          {% for i in results %}
          <article class="page">

            <div class="img-responsive">
              {% if i.thumbnail %}
              <img src="{{i.thumbnail}}" alt="article" class="img-fluid">
              {% else %}
              <img
                src="https://res.cloudinary.com/dcgrv6shk/image/upload/v1635600338/mediafiles/profiles/placeholder_v7pmin.png"
                alt="article" class="img-fluid">
              {% endif %}
            </div>

            <br>
            <h2 class="topic-title">{{i.title}}</h2>

            {% include 'utilities/article-mini-toolkit.html' %}

            <div class="page-description">
              {{i.description|truncatechars:230|safe}}
              <br>
              <div class="read-more">
                <a href="{{i.get_absolute_url}}">Read More</a>
              </div>
            </div>
          </article>
          {% endfor %}

          {% else %}

          <div class="container flex-column">
            {% if q %}
            <h1>Posts containing "{{q}}" </h1>
            {% endif %}
            <p>
              {% with results.count as total_results %}

              Found {{ total_results }} result{{ total_results|pluralize }}

              {% endwith %}
            </p>
          </div>

          {% endif %}

          <!-- Pagination -->
          <div class="blog-pagination">

            <ul class="justify-content-center">

              {% if queryset.has_previous %}
              <li class="#">
                <a class="#" href="?{{ page_var }}={{ queryset.previous_page_number }}" tabindex="-1"
                  aria-disabled="true">Previous</a>
              </li>
              {% endif %}

              <li class="#"><a class="#" href="?{{ page_var }}={{ queryset.number }}">{{queryset.number}}</a></li>

              {% if queryset.has_next %}
              <li class="#">
                <a class="" href="?{{ page_var }}={{ queryset.next_page_number }}">Next</a>
              </li>
              {% endif %}
            </ul>

          </div>

        </div>

        <!--SideBar-->
        {% include 'utilities/article-filters.html' %}

      </div>

    </div>
  </section>
</main>


{% endblock %}